cn2an==0.5.23
eng_to_ipa==0.0.2
faster-whisper==1.1.1
gradio==5.34.2
inflect==7.5.0
jieba==0.42.1
langid==1.1.6
librosa==0.11.0
melotts @ git+https://github.com/aya-eiya/MeloTTS.git
numba==0.61.2
numpy==2.2.6
openai-whisper @ git+https://github.com/openai/whisper.git
openai==1.88.0
pydub==0.25.1
pypinyin==0.54.0
python-dotenv
unidecode==1.4.0
wavmark==0.0.3
whisper-timestamped==1.15.8
